.FullFooter {
    padding: 25px;
    box-sizing: border-box;
    background-color: var(--rel-black-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Info > h2 {
    width: fit-content;
    padding-bottom: 10px;
    color: var(--rel-white-color);
}

.Links {
    padding-bottom: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Links > button {
    width: fit-content;
    padding: 5px 0px 5px 10px;

    background-color: transparent;
    border-style: none;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: var(--primary-app-color);

    color: var(--primary-app-color);
    font-size: 0.875rem;

    transition: all 0.2s;
}

.Links > button:hover {
    color: var(--rel-white-color);
    padding-left: 20px;
    cursor: pointer;
}

.Copyright {
    width: fit-content;
    padding: 25px 0;
    box-sizing: border-box;

    color: var(--rel-white-color);
}